<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Student/Courses</li>
</ol>

<br/>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<section @fadeInAnimation>  
  <h2>Student/Courses</h2>

  <a class="btn btn-primary" routerLink="/studentcourse/add">Add Student/Course</a>

  <table class="table table-hover table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Student ID</th>
        <th>Course ID</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let studentcourse of studentcourses">
        <td>{{studentcourse.student_course_id}}</td>
        <td>{{studentcourse?.student?.first_name}}&nbsp;{{studentcourse?.student?.last_name}}</td>
        <td>{{studentcourse?.course?.course}}</td>
        <td class="text-center">
          <a class="btn btn-primary glyphicon glyphicon-pencil" [routerLink]="['/studentcourse/edit/', studentcourse.student_course_id]"></a>&nbsp;
          <button (click)="deleteStudentcourse(studentcourse.student_course_id)" class="btn btn-danger glyphicon glyphicon-trash"></button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
