/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Ruda');

body {
    padding-top: 70px;
    background-color: #4a4546;
    font-family: 'Ruda', sans-serif;
}

table {
  margin-top: 10px;
}

/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}

.table {
    background-color: #aea7a9;
}

h1, h2 {
    color: #ffffff;
}

.control-label {
    color: #ffffff;
}
   
