<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Major/Courses</li>
</ol>

<br/>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<section @fadeInAnimation>  
  <h2>Major/Courses</h2>

  <a class="btn btn-primary" routerLink="/majorcourse/add">Add Major/Course</a>

  <table class="table table-hover table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Major ID</th>
        <th>Course ID</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let majorcourse of majorcourses">
        <td>{{majorcourse.major_course_id}}</td>
        <td>{{majorcourse?.major?.major}}</td>
        <td>{{majorcourse?.course?.course}}</td>
        <td class="text-center">
          <a class="btn btn-primary glyphicon glyphicon-pencil" [routerLink]="['/majorcourse/edit/', majorcourse.major_course_id]"></a>&nbsp;
          <button (click)="deleteMajorcourse(majorcourse.major_course_id)" class="btn btn-danger glyphicon glyphicon-trash"></button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
